body, html {
    margin: 0;
    height: 100%;
}
* {
    box-sizing: border-box;

}



@font-face {
    font-family: sfr;
    src: url("fonts/SFUIDisplay-Regular.otf");
}

@font-face {
    font-family: sfl;
    src: url("fonts/SFUIDisplay-Light.otf");
}

@font-face {
    font-family: sfm;
    src: url("fonts/SFUIDisplay-Medium.otf");
}
@font-face {
    font-family: sfb;
    src: url("fonts/SFUIDisplay-Bold.otf");
}

@font-face {
    font-family: cb;
    src: url("fonts/Comfortaa-Bold.ttf");
}



H1{
    font-family: sfb;
    text-align: center;
}

form > input {
    display: block;
}

form {
    width: 350px;
    margin: 0 auto;
}
form > input[type="text"] {
    width: 100%;
    height: 50px;
    border-radius: 25px;
}

form > input[type="submit"] {
    width: 50%;
    margin: 20px auto 0;
    color: #fff;
    font-family: sfb;
    font-size: 20px;
}
.content {
    padding: 50px 0;
}

.new_link {
    margin: 0 auto;
    text-align: center;
}